@keyframes boxAnimation {
0% { top: -100px; }
50% { top: 100px; }
100% { top: -100px; }
}
#floatingBox{
    background-color: rgb(233, 223, 223);
    border: 3px solid rgb(175, 168, 168);
    border-radius: 8px;
    margin-left: 45%;
    padding: 25px;
    position: absolute;                
    top: -100px;
    z-index: 2;
}
#floatingBox p{
    margin: 0px;
}
.floatingBoxAnim{
    animation-name: boxAnimation;
    animation-duration: 4s;
}
#tableContent{
    margin-top: 25px;                
    min-height: 500px;
    overflow-y: auto;
}
#tableContent thead tr{
    position: sticky;
    top: 0;
}
body{
    margin-top: 25px;
}
ul{
    display: inline-flex;
    list-style-type: none;      
}             
