body{
    width: 30%;
}
#calcWindow{
    border: 1px solid black;
    margin-top: 25px;
    min-height: 200px;
    display: flex;
}
#operations{
    align-self: flex-end;
}
#symbol{
    align-self: flex-end;
}
p{
    display: inline-block;
    height: 50px;
}
#backlog{
    position: absolute;
    top: 15%;
}
#result{
    position: absolute;
}