body{
    width: 30%;
}
p{
    display: inline-block;
    height: 50px;
}
#calcWindow{
    border: 1px solid black;
    margin-top: 25px;
    min-height: 200px;
    display: flex;
    width: 66%;
}
#digits{
    align-self: flex-end; 
}
#result{
    position: absolute;
}
#symbol{
    align-self: flex-end;
}